:root {
  --color-white: #FFFFFF;
  --color-black: #072540;
  --color-gray: #5B6987;
  --color-brown: #542247;
  --color-red: #9c4668;
  --color-pink: #FF8AE2;
  --color-very-light-blue: #F1F7FA;
  --color-light-blue: #93C2DB;
  --color-blue: #0069FF;
}

h1 {
  color: inherit;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 50px;
}

h2 {
  color: inherit;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125;
  margin-top: 40px;
}