@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('/open-sans-v17-latin-700.woff') format('woff');
}

:root {
  --color-fg-primary: #141446;
  --color-fg-secondary: #43436B;
  --color-fg-link: #7A77FF;
  --color-bg: #F3F3FB;
  --color-bg-sidebar: #fff;
  --color-bg-image: #A1A1B5;
  --color-bg-filter: #43436B;
  --color-bg-link: #EDEDFF;
  --color-border: #D0D0DA;
  --color-red: #FF6492;
  --color-pink: #FFA2BE;
  --color-green: #6DE6A4;
  --color-blue: #7A77FF;
  --color-purple: #AFADFF;

  --border-radius: 4px;
  --border-width: 2px;
}

body {
  color: var(--color-fg-primary);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -1px;
  margin: 0 0 1rem;
}

h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 1rem;
}

h2 small {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #acacac;
}

p {
  margin: 0.5em 0;
}

a {
  color: var(--color-fg-link);
  text-decoration: none;
}

a:hover {
  border-bottom: solid 1px var(--color-fg-link);
}

button, a.button {
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 var(--border-width) var(--color-border);
  border-radius: var(--border-radius);
  color: #1d1c1d !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2rem;
  margin: 0;
  padding: 8px 14px 9px;
  white-space: nowrap;
}

button:hover, a.button:hover {
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 var(--border-width) rgba(0, 0, 0, 0.3);
}

button:active, a.button:active {
  background: #f8f8f8;
  box-shadow: inset 0 0 0 var(--border-width) rgba(0, 0, 0, 0.3);
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}
