html {
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 30px;
  background: #f5f6f7;
}

.loader {
  position: relative;
  text-align: center;
  margin: 55px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid #B1B7C5;
  border-radius: 50%;
  border-top-color: #50556C;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
