@import './variables';

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Regular.eot');
  src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Medium.eot');
  src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Medium.eot');
  src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.woff') format('woff');
  font-weight: bold;
}

@import "mixins";
@import "normalize";
@import "typography";
@import "code";
@import "tables";
@import "stb-js-syntax";
@import "layout";
@import 'blockquote';
