@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.examples__container {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-feature-settings: 'ss03' on;
  font-feature-settings: 'ss04' on;
  background-color: #f3f3fb !important;
}

.ant-popover-disabled-compatible-wrapper {
  pointer-events: none;
}

::selection {
  background-color: #7a77ff !important;
}

.dashboard__cell {
  border-radius: 4px;
  overflow: hidden !important;
  background-color: white;
}

.examples__container {
  padding: 40px;
}

@media (max-width: 640px) {
  .examples__container {
    padding: 20px;
  }
}

@media (min-width: 640px) {
  .dashboard__row {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .highcharts-input-group {
    display: none;
  }
  .dashboard__cell {
    margin-bottom: 20px;
  }
}

.highcharts-title {
  color: #43436b;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  padding: 20px;
  width: 100% !important;
  left: 0;
  border-bottom: 1px solid #d5d5e280;
  font-family: 'DM Sans', sans-serif !important;
}

.highcharts-title small {
  color: #a1a1b5;
  font-size: 14px;
  margin-left: 12px;
  font-weight: normal;
  vertical-align: baseline;
}
