<div *ngIf="isQueryPresent" class="chart-wrapper">
  <div *ngIf="chartType !== 'table' && chartData.length > 0" class="container">
    <canvas
      baseChart
      legend="true"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [chartType]="chartType"
    >
    </canvas>
  </div>

  <table
    *ngIf="chartType === 'table'"
    mat-table
    [dataSource]="tableData"
    style="width: 100%;"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th
        mat-header-cell
        [style.text-align]="'center'"
        *matHeaderCellDef
      >
        {{ dataIndexToTitle[column] }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
