={{ queryBuilder.chartType | json }}=

<div *ngIf="isQueryPresent && queryBuilder.chartType !== 'table'" class="container">
  <canvas
    baseChart
    legend="true"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [chartType]="queryBuilder.chartType"
  >
  </canvas>
</div>

<table mat-table [dataSource]="tableData">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Sales.ts.day">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element['Sales.ts.day']}} </td>
  </ng-container>

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight"> -->
    <!-- <th mat-header-cell *matHeaderCellDef> Weight </th> -->
    <!-- <td mat-cell *matCellDef="let element"> {{element.weight}} </td> -->
  <!-- </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
