.root {
  margin-bottom: 2rem;
}

.header {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 12px;
  vertical-align: middle;
}

.controls {
  margin-top: -3px;
  text-align: end;
}

.list {
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  list-style-type: none;
  padding: 0;
}

.item {
  align-items: center;
  border-top: var(--border-width) solid var(--color-border);
  display: grid;
  font-size: 15px;
  height: 60px;
  line-height: 1;
  grid-template-columns: min-content auto min-content;
  grid-gap: 15px;
  padding: 0 16px;
}

.item:nth-child(1) {
  border-top: none;
}

.item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.selected {
  background-color: var(--color-bg);
}

.avatar img {
  border-radius: 4px;
  height: 34px;
  min-width: 34px;
  width: 34px;
}

.admin {
  color: var(--color-red);
  cursor: help;
}

.name {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.title {
  color: var(--color-bg-image);
  font-size: 13px;
  line-height: 1.2;
  margin-top: 3px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.joins {
  cursor: help;
  letter-spacing: 0.5em;
}

.reactions {
  letter-spacing: 0.25em;
}