.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 22px;
  gap: var(--space-s);
  border: 1px solid var(--dark_05);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .wrapper {
    height: 86px;
  }
}

.wrapper:hover {
  background: var(--dark_bg);
}

:global(.dark) .wrapper {
  border-color: hsl(240, 6%, 30%);
}

:global(.dark) .wrapper:hover {
  background: hsl(240, 6%, 22%);
}

.item {
  display: flex;
}

.image {
  display: flex;
  height: 40px;
  align-self: center;
}

.title {
  display: flex;
  align-self: center;
  margin-left: 12px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: var(--dark);
}

:global(.dark) .title {
  color: var(--nextra-colors-gray-100);
}
