**
!package.json
!tsconfig.base.json
!yarn.lock
!lerna.json
!packages/
!rust/js-wrapper/
!rust/tsconfig.json
!rust/package.json
!rust/yarn.lock
!rust/bin

packages/*/node_modules/
packages/cubejs-jdbc-driver
packages/cubejs-serverless
packages/cubejs-serverless-aws
packages/cubejs-serverless-google
packages/cubejs-client-ngx
packages/cubejs-client-vue
