**
!package.json
!tsconfig.base.json
!rollup.config.js
!yarn.lock
!lerna.json
!packages/
!rust/cubestore/js-wrapper/
!rust/cubestore/tsconfig.json
!rust/cubestore/package.json
!rust/cubestore/bin
!rust/cubesql/package.json

packages/*/node_modules/
packages/*/dist/
packages/*/coverage/
packages/cubejs-server-core/playground/
packages/cubejs-serverless
packages/cubejs-serverless-aws
packages/cubejs-serverless-google