**
!package.json
!tsconfig.base.json
!tsconfig.json
!rollup.config.js
!yarn.lock
!lerna.json
!packages/
!rust/cubestore/js-wrapper/
!rust/cubestore/tsconfig.json
!rust/cubestore/package.json
!rust/cubestore/bin
!rust/cubesql/package.json

# Ignoring builds for native from local machime to protect a problem with different architecture
packages/cubejs-backend-native/index.node
packages/cubejs-backend-native/native/
# Caches
packages/cubejs-backend-native/target
packages/*/node_modules/
packages/*/dist/
packages/*/coverage/
# Other
packages/cubejs-server-core/playground/
