.grid {
  width: 100%;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  margin: 20px 0;
}

.cols2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols3 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
  .cols2,
  .cols3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
