<div *ngIf="query">
  <div class="controls-container">
    <div class="controls-row">
      <members-group
        [title]="'Measure'"
        [members]="query.measures.asArray()"
        [allMembers]="builderMeta.measures"
        (onSelect)="query.measures.add($event)"
        (onMemberClick)="query.measures.remove($event)"
      ></members-group>

      <mat-divider [vertical]="true"></mat-divider>

      <members-group
        [title]="'Dimension'"
        [members]="query.dimensions.asArray()"
        [allMembers]="builderMeta.dimensions"
        (onSelect)="query.dimensions.add($event)"
        (onMemberClick)="query.dimensions.remove($event)"
      ></members-group>

      <mat-divider [vertical]="true"></mat-divider>

      <members-group
        [title]="'Segment'"
        [members]="query.segments.asArray()"
        [allMembers]="builderMeta.segments"
        (onSelect)="query.segments.add($event)"
        (onMemberClick)="query.segments.remove($event)"
      ></members-group>

      <time-group
        [timeDimensionMember]="query.timeDimensions"
        [members]="query.timeDimensions.asArray()"
        [allMembers]="builderMeta.timeDimensions"
      ></time-group>
    </div>

    <div class="controls-row">
      <mat-form-field appearance="fill">
        <span matPrefix><mat-icon>multiline_chart</mat-icon></span>
        <mat-label>Chart Type</mat-label>
        <mat-select
          (selectionChange)="queryBuilder.setChartType($event.value)"
          [value]="queryBuilder.chartType"
        >
          <mat-option
            *ngFor="let item of chartTypeToIcon"
            [value]="item.chartType"
          >
            <span matPrefix>
              <mat-icon>{{ item.icon }}</mat-icon>
            </span>
            {{ item.chartType | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div style="max-width: 500px;">
    <mat-tab-group>
      <mat-tab label="Pivot">
        <app-pivot [pivotConfig]="queryBuilder.pivotConfig"></app-pivot>
      </mat-tab>

      <mat-tab label="Pivot Options"> Pivot Options </mat-tab>

      <mat-tab label="Order">
        <app-order [order]="query.order"></app-order>
      </mat-tab>

      <mat-tab label="Limit">
        <mat-form-field apperance="fill">
          <input
            matInput
            type="number"
            placeholder="Limit"
            [value]="query.asCubeQuery().limit || 10000"
            (blur)="query.setLimit($event.target.value)"
          />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div>

  <button mat-button (click)="debug()">debug</button>

  <div class="debug">{{ query.asCubeQuery() | json }}</div>

  <button mat-button mat-stroked-button (click)="setQuery()">
    set/reset query
  </button>

  <query-renderer [resultSet]="resultSet"></query-renderer>
</div>
