:root {
    /* COLORS */
    --color-primary-default: rgba(255, 100, 146, 1);
    --color-primary-hover: rgba(250, 50, 110, 1);
    --color-primary-outline: rgba(255, 100, 146, 0.3);

    --color-purple: rgba(122, 119, 255, 1);
    --color-purple-bright: rgba(107, 79, 238, 1);
    --color-purple-text: rgba(102, 93, 232, 1);

    --color-secondary-default: var(--color-purple);
    --color-secondary-hover-bg: rgba(102, 93, 232, 0.08);
    --color-secondary-hover-border: rgba(122, 119, 255, 0.3);
    --color-secondary-outline: rgba(122, 119, 255, 0.6);
    --color-secondary-active-border: var(--color-purple);


    /* BLACK SHADOWS */
    --color-black: 20, 20, 70;
    --color-black-0: rgba(var(--color-black), 0);
    --color-black-4: rgba(var(--color-black), 0.04);
    --color-black-6: rgba(var(--color-black), 0.06);
    --color-black-7: rgba(var(--color-black), 0.07);
    --color-black-10: rgba(var(--color-black), 0.1);
    --color-black-12: rgba(var(--color-black), 0.12);
    --color-black-75: rgba(var(--color-black), 0.75);
    --color-black-85: rgba(var(--color-black), 0.85);
    --color-black-100: rgba(var(--color-black), 1);

    --color-light: rgba(249, 249, 253, 1);
    --color-light-2: rgba(246, 246, 248, 1);

    --color-success-default: rgba(65, 181, 111, 0.12);
    --color-success-hover: rgba(65, 181, 111, 0.22);
    --color-danger-default: rgba(255, 100, 109, 0.1);
    --color-danger-hover: rgba(255, 100, 109, 0.2);

    /* FONT */
    --font-size-regular: 16px;
    --line-height-regular: 1.625;
    --letter-spacing-regular: 0.5%;
    --text-color-regular: var(--color-black-75);
    --font-family-regular: Cera Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                            sans-serif;
    --font-family-medium: Cera Pro Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                            sans-serif;
    --font-family-bold: Cera Pro Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                        sans-serif;

    /* TRANSITION */
    --time: 0.7s;
    --hover: 0.2s;

    /* Z_INDEX */
    --z-index-1: 100;
    --z-index-2: 1000;
    --z-index-3: 10000;

    /* BREAKPOINTS */
    /* DON'T REMOVE: USES AT JS  */
    --breakpoint-mobile-s: 480px;
    /* DON'T REMOVE: USES AT JS  */
    --breakpoint-desktop-xs: 880px;

    /* ASSETS */
    --nav-font-color: var(--color-black-85);
    --nav-padding-mobile: 18px;
    --header-height-mobile-s: 64px;
    --header-height-desktop-xs: 88px;
    --overlay-height: calc(100vh - var(--header-height-mobile-s));
    --border-grey: 1px solid var(--color-black-12);
    --button-padding-horizontal: 16px;

    --menu-max-height: 400px;
    --menu-overflow-offset: 25px;
    /* DON'T REMOVE: USES AT JS  */
    --menu-overflow-max-height: calc(var(--menu-max-height) + var(--menu-overflow-offset));

    /* SKELETON LOADER */
    --skeleton-base-color: var(--color-light-2);
    --skeleton-shine-color: var(--color-black-6);
    --skeleton-animation-duration: 3s;
    --skeleton-background-image: linear-gradient(90deg,
            var(--color-black-0) 20%,
            var(--color-black-4) 55%,
            var(--color-black-0) 80%);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cera Pro;
    src: url(https://static.cube.dev/fonts/CeraPro-Regular.woff2);
}

@font-face {
    font-family: Cera Pro Medium;
    src: url(https://static.cube.dev/fonts/CeraPro-Medium.woff2) format('woff2'),
        url(https://static.cube.dev/fonts/CeraPro-Medium.woff) format('woff');
}

@font-face {
    font-family: Cera Pro Bold;
    src: url(https://static.cube.dev/fonts/CeraPro-Bold.woff2) format('woff2'),
        url(https://static.cube.dev/fonts/CeraPro-Bold.woff) format('woff');
}

@font-face {
    font-family: Inter;
    src: url(https://cube.dev/docs/static/Inter-Regular-e6e8bb3a4f2ded1c22ad5e6277f7d601.woff2) format('woff2');
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

/* костыль из-за бага c animation-fill-mode в ff */
@keyframes hide {
    0.001% {
        opacity: 0;
        content: "";
    }

    0.0011% {
        content: none;
    }

    100% {
        content: none;
    }
}

@keyframes shine {
    0% {
        background-position: -220px
    }

    60% {
        background-position: 30px
    }

    100% {
        background-position: 220px
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #fff !important;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;

    font-family: var(--font-family-regular);
    color: var(--text-color-regular);
    -webkit-font-smoothing: antialiased;
}

body.noscroll {
    height: 100vh;
    overflow: hidden;
}

ul {
    list-style: none;
}

.d-none {
    display: none !important;
}

#root {
    flex-grow: 2;
    display: grid;
}

/* HEADER */

.header {
    flex-shrink: 0; /* prevent collapsing when mobile nav is open because of body.noscroll fixed height */
    height: var(--header-height-mobile-s);
    padding: 18px 16px;
    position: relative;

    display: flex;
    justify-content: space-between;
}

.nav-overlay {
    background-color: #000;
    position: absolute;
    top: 100%;
    left: 0;
    height: var(--overlay-height);
    width: 100%;
    z-index: var(--z-index-2);
    opacity: 0;
    display: none;
}

.header.hide .nav-overlay {
    opacity: 0.6;
    animation-duration: 100000s;
    animation-name: hide;
}

.header.open .nav-overlay {
    display: block;
    animation-name: open;
    animation-duration: var(--time);
    animation-fill-mode: forwards;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;
}

.logo-img{
    max-width: 100%;
}

.nav {
    flex-grow: 2;

    text-align: right;

    position: absolute;
    transform: translate(100%);
    transition: transform var(--time);
    right: 0;
    top: 0;
    height: var(--overlay-height);
    background-color: #fff;
    width: auto;
    z-index: var(--z-index-3);
    margin-top: var(--header-height-mobile-s);
    overflow-y: auto;
}


.header.open .nav {
    transform: none;
}

.nav .button {
    padding-right: 0;
}

.nav-toggle {
    --size: 24px;
    height: var(--size);
    width: var(--size);
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav-toggle span {
    height: calc(var(--size) / 12);
    --gap: calc(var(--size) / 24);
    border-radius: var(--gap);
    --n_gap: calc(-1 * var(--gap));
    width: 100%;
    display: block;
    background-color: black;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
    top: 50%;
    right: 0;
}

.nav-toggle span:nth-child(1) {
    transform: translate(0, calc(-1 * var(--size) / 2 + var(--gap)));
}

.nav-toggle span:nth-child(2) {
    transform: translate(0, var(--n_gap));
    opacity: 1;
    width: 80%;
}

.nav-toggle span:nth-child(3) {
    transform: translate(0, calc(var(--size) / 2 - var(--gap) * 2));
}

.header.open .nav-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(var(--n_gap), var(--n_gap));
}

.header.open .nav-toggle span:nth-child(2) {
    opacity: 0;
    transform: translate(0, var(--n_gap)) scale(0.01);
}

.header.open .nav-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(var(--gap), var(--n_gap));
}

.menu {
    padding: var(--nav-padding-mobile);
}

.menu-list {
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    height: 40px;
    text-overflow: ellipsis;
}

.dropdown-button.load {
    min-width: 150px;
    background-image: var(--skeleton-background-image) !important;
    background-color: var(--skeleton-base-color) !important;
    animation: shine var(--skeleton-animation-duration) infinite linear !important;
}

.dropdown-button.load svg {
    display: none;
}

.dropdown-button svg {
    display: inline-block;
    margin-bottom: 1px;
}

.dropdown-button:focus-visible {
    outline: 2px solid var(--color-secondary-default);
}

.dropdown-content {
    position: relative;

    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .25s ease;
}

.dropdown-button[aria-expanded="true"]~.dropdown-content {
    margin-top: 11px;
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    transition: .2s;
}

.dropdown-list-item>* {
    text-decoration: none;
    color: var(--color-black-100);
    font-size: var(--font-size-regular);
    font-family: var(--font-family-medium);
    line-height: var(--line-height-regular);
    letter-spacing: var(--letter-spacing-regular);
    font-weight: 500;

    display: block;
    width: 100%;
    padding: 11px 0;
    transition: 0.1s;
}

.dropdown-list-item>*:focus-visible {
    outline: 3px solid var(--color-secondary-outline);
}

.dropdown-list-item:first-child>* {
    border-radius: 8px 8px 0 0;
}

.dropdown-list-item:last-child>* {
    border-radius: 0 0 8px 8px;
}

.dropdown-list-item>*:hover,
.dropdown-list-item>*:focus,
.dropdown-list-item>*:active {
    color: var(--color-purple);
}

.user-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--nav-padding-mobile);
    width: 100%;
    border-bottom: 1px solid var(--color-black-12);
}

/* from --breakpoint-desktop-s var */
@media only screen and (min-width: 880px) {
    .header {
        height: var(--header-height-desktop-xs);
        padding: 24px;
    }

    .header.open .nav-overlay{
        display: none;
    }

    .logo {
        margin-right: 16px;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        flex-grow: 2;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        text-align: left;

        transform: none;
        height: auto;
        position: relative;
        margin: 0;
        overflow-y: initial;

    }

    .nav .button {
        padding-right: var(--button-padding-horizontal);
    }

    .menu-list {
        list-style: none;
    }

    .dropdown {
        position: relative;
    }

    .menu {
        padding: 0;
    }

    .dropdown-button {
        width: auto;
        min-width: 150px;
    }

    .dropdown-button.load {
        border: none !important;
    }

    .dropdown-button span {
        margin-right: 8px;
    }

    .dropdown-content {
        position: absolute;
        left: 0;
        padding: 0;
        list-style: none;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        transform: translateY(-4px);
    }

    .dropdown-content::-webkit-scrollbar {
        width: 0;
    }

    .dropdown-button[aria-expanded="true"]~.dropdown-content {
        display: block;
        top: 100%;

        background-color: #fff;
        box-shadow: 0px 30px 50px var(--color-black-12);
        border-radius: 8px;

        margin-top: 0;
        transform: translateY(4px);
        width: auto;
        min-width: 240px;
        height: auto;
        clip: auto;
        overflow-y: auto;
        scrollbar-width: thin;
        z-index: 9999;
    }

    .dropdown-button[aria-expanded="true"]~.dropdown-content.menu-list {
        max-height: var(--menu-max-height);
    }

    .dropdown-button[aria-expanded="true"]~.dropdown-content.menu-list.overflow {
        max-height: var(--menu-overflow-max-height);
    }

    .dropdown-list-item>* {
        display: block;
        width: 100%;

        padding: 12px 16px;
    }

    .dropdown-list-item:first-child>* {
        border-radius: 8px 8px 0 0;
    }

    .dropdown-list-item:last-child>* {
        border-radius: 0 0 8px 8px;
    }

    .dropdown-list-item>*:hover,
    .dropdown-list-item>*:focus {
        background-color: var(--color-light);
        color: var(--color-purple);
    }

    .user-actions {
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: auto;
        border: none;
    }
}

/* MAIN CONTENT */

.description {
    padding: 48px 24px 56px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
    text-align: center;
    color: var(--color-black-100);
}

.description p {
    color: var(--text-color-regular);
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
}

.link {
    color: var(--color-purple-text);
    font-size: 16px;
    line-height: 1.625;
    text-decoration: none;
    font-weight: 500;

    position: relative;
    padding-bottom: 4px;
    opacity: 0.8;
    transition: 0.1s;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: 0.2;
}

.link:hover {
    opacity: 1;
}

.link:hover::after {
    opacity: 0;
}

.button {
    display: inline-block;
    padding: 7px var(--button-padding-horizontal);
    border-radius: 8px;

    font-family: var(--font-family-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    text-decoration: none;
    font-weight: 500;

    outline: none;
    border: none;
    background-color: transparent;
    transition: background-color var(--hover),
        color var(--hover);
    cursor: pointer;
}

.button.sm {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.button.primary {
    color: var(--color-primary-default);
}

.button.primary:hover,
.button.primary:active {
    color: var(--color-primary-hover);
}

@media only screen and (min-width: 880px) {

    .button.primary {
        color: #fff;
        background-color: var(--color-primary-default);
    }

    .button.primary:hover,
    .button.primary:active {
        color: #fff;
        background-color: var(--color-primary-hover);
    }
}

.button.primary:focus-visible {
    outline: 3px solid var(--color-primary-outline);
}

.button.secondary {
    color: #fff;
    background-color: var(--color-purple);
}

.button.secondary:hover,
.button.secondary:active {
    color: #fff;
    background-color: var(--color-purple-bright);
}

.button.secondary:focus-visible {
    outline: 3px solid var(--color-secondary-outline);
}

.button.clear {
    color: var(--color-black-85);
}

.button.clear:hover,
.button.clear:active {
    color: var(--color-purple-bright);
}

.button.clear:focus-visible {
    outline: 3px solid var(--color-black-10);
}


.button.outline:not(.dropdown-button) {
    border: 1px solid var(--color-secondary-hover-border);
    color: var(--color-purple-bright);
}

@media only screen and (min-width: 880px) {
    .button.outline.dropdown-button:not(.load) {
        border: var(--border-grey);
        color: var(--color-black-100);
    }
}

.button.outline:hover {
    border-color: var(--color-secondary-hover-border);
    background-color: var(--color-secondary-hover-bg);
    color: var(--color-purple-bright);
}

.button.outline.dropdown-button:hover {
    border: none;
    background-color: transparent;
}

@media only screen and (min-width: 880px) {
    .button.outline.dropdown-button:hover {
        border: 1px solid var(--color-secondary-hover-border);
        background-color: var(--color-secondary-hover-bg);
        color: var(--color-purple-bright);
    }
}

.button.outline[aria-expanded="true"] {
    border-color: var(--color-secondary-active-border);
    color: var(--color-purple-bright);
}

.button.outline:focus-visible {
    outline: 3px solid var(--color-secondary-outline);
}

.button.outline svg path {
    stroke: currentColor;
}

.feedback {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    max-width: 90%;
    min-height: 46px;

    font-size: 14px;
    font-weight: 500;
    color: var(--text-color-regular);
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-regular);

    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 8px 16px var(--color-black-7);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 880px) {
    .feedback {
        padding: 12px 8px 12px 24px;
    }
}

.feedback-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

@media only screen and (min-width: 880px) {
    .feedback-block {
        justify-content: space-between;
    }
}

.feedback-buttons {
    display: flex;
    margin-left: 16px;
}

.feedback-button {
    display: inline-block;
    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 4px;

    transition: background-color var(--hover);
}

.feedback-button:disabled,
.feedback-button[disabled] {
    opacity: 0.4;
}

.feedback-button:hover:not(:disabled) {
    cursor: pointer;
}

#feedback-like {
    background-color: var(--color-success-default);
}

#feedback-like:hover:not(:disabled),
#feedback-like:active:not(:disabled) {
    background-color: var(--color-success-hover);
}

#feedback-like:focus-visible {
    outline: 3px solid var(--color-success-hover);
}

#feedback-dislike {
    background-color: var(--color-danger-default);
}

#feedback-dislike:hover:not(:disabled),
#feedback-dislike:active:not(:disabled) {
    background-color: var(--color-danger-hover);
}

#feedback-dislike:focus-visible {
    outline: 3px solid var(--color-danger-hover);
}

.feedback-button:not(:first-child) {
    margin-left: 8px;
}

.form {
    width: 100%;
    margin-top: 18px;
}

.form-textarea {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black-85);

    width: 100%;
    min-height: 80px;
    outline: transparent;
    border: none;
    background: #f6f6f8;
    padding: 6px 10px;
    resize: none;
    border-radius: 4px;
    margin-bottom: 8px;
}

.feedback-message-buttons {
    display: flex;
    /* use flex to remove gap between buttons */
}

.feedback-message-buttons .button:not(:first-child) {
    margin-left: 8px;
}

.footer {
    background-color: #fff;
    height: 120px;
    justify-self: flex-end;
}

/* flex wrap at feedback block triggers at 414px and less */
@media only screen and (min-width: 415px) {
    .footer {
        height: 100px;
    }
}