.Link {
  color: var(--purple_bright);
  border-bottom: 1px solid var(--purple_04_a30);
  padding-bottom: 3px;
  border-radius: 0;

  &:hover {
    border-bottom: 1px solid var(--purple_bright);
  }

  &:has(> code) {
    border-bottom: none;

    &:hover {
      border-bottom: none;

      > code {
        border-color: var(--purple_bright);
      }
    }
  }
}
