.root {
  border-radius: 12px;
  box-shadow: rgba(15, 20, 25, 0.12) 0px 2px 12px 0px;
  display: inline-block;
  padding: 12px 18px;
  margin: 0 18px 18px 0;
}

.value {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0.25em 0 0.25em 0;
}

.timestamp {
  opacity: 0.5;
}

a {
  color: rgb(29, 155, 240);
}

em {
  color: rgb(29, 155, 240);
  font-style: normal;
  opacity: 0.5;
}