.GridItem__Wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1.375rem;
  gap: 1rem;
  border: 1px solid #E5E5EC;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: none;
  transition: all .2s ease;
  cursor: pointer;
}

.GridItem__Wrapper:hover {
  background: #F6F6F8;
  /*position: relative;*/
  /*top: -3px;*/
  /*box-shadow: 0px 2px 10px rgba(177, 183, 197, 0.2);*/
}

.GridItem {
  display: flex;
}

.GridItem__Image {
  height: 2.5rem;
}

.GridItem__Title {
  display: flex;
  align-self: center;
  margin-left: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
}
