.root {
  background-color: var(--color-bg-sidebar);
  border: var(--border-width) solid var(--color-border);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem 0.5rem;
}

.members {
  color: var(--color-purple);
}

.joins {
  color: var(--color-red);
}