.doughnut-number {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #43436B;
}
.doughnut-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #A1A1B5;
  text-transform: capitalize;
  margin: 0 0 0.5rem;
}
