<mat-tab-group>
  <mat-tab label="Pivot">
    <app-pivot [pivotConfig]="data.pivotConfig"></app-pivot>
  </mat-tab>

  <mat-tab label="Pivot Options">
    <mat-checkbox
      [checked]="data.pivotConfig.get().fillMissingDates"
      (change)="
        data.pivotConfig.setFillMissingDates(
          !data.pivotConfig.get().fillMissingDates
        )
      "
      >Fill Missing Dates</mat-checkbox
    >
  </mat-tab>

  <mat-tab label="Order">
    <app-order [order]="data.query.order"></app-order>
  </mat-tab>

  <mat-tab label="Limit">
    <mat-form-field apperance="fill">
      <input
        matInput
        type="number"
        placeholder="Limit"
        [value]="data.query.asCubeQuery().limit || 10000"
        (blur)="data.query.setLimit($event.target.value)"
      />
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
