## Override the name
##
nameOverride: ""

## Provide a name to substitute for the full names of resources
##
fullnameOverride: ""

##  Labels to add to all deployed objects
##
commonLabels: {}

## Annotations to add to all deployed objects
##
commonAnnotations: {}

image:
  ## Docker image repository
  ##
  repository: cubejs/cubestore

  ## Docker image tag.
  ## Defaults to Chart AppVersion
  ##
  tag:

  ## Specify a imagePullPolicy
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent

  ## Specify a imagePullSecrets
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  pullSecrets: []

config:
  ## The logging level for Cube Store.
  ##
  logLevel: "error"

  ## If true, prevents uploading serialized pre-aggregations to cloud storage
  ##
  noUpload:

  ## The number of parallel tasks that process non-interactive jobs like data insertion, compaction etc. Defaults to 4
  ##
  jobRunners:

  ## The timeout for SQL queries in seconds. Defaults to 120
  ##
  queryTimeout:

  ## The number of Cube Store sub-processes that handle SELECT queries. Defaults to 4
  ##
  selectWorkers:

  ## The maximum number of rows to keep in a single chunk of data right after insertion. Defaults to 262144
  ##
  walSplitThreshold:

## Used to define the shared volume to store metadata and datasets
## Prefer use cloudStorage if your are running on "gcp" or "aws"
## If a cloudStorage configuration is used, no remoteDir will be created
##
remoteDir:
  persistence:
    ## Resource Policy
    ## Setting it to "keep" to avoid removing PVCs during a helm delete operation
    ##
    resourcePolicy: keep

    ## Persistent Volume size
    ##
    size: 10Gi

    ## Additional custom annotations for the PVC
    ##
    annotations: {}

    ## Persistent Volume access modes
    ##
    accessModes:
      - ReadWriteOnce

    ## @param remoteDir.persistence.storageClass The storage class to use for the remoteDir pvc
    ## If defined, storageClassName: <storageClass>
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass:

cloudStorage:
  gcp:
    ## A Base64 encoded JSON key file for connecting to Google Cloud. Required when using Google Cloud Storage
    ##
    credentials:
    # credentialsFromSecret:
    #   name:
    #   key:

    ## The name of a bucket in GCS. Required when using GCS
    ##
    bucket:

    ## The path in a GCS bucket to store pre-aggregations. Optional
    ##
    subPath:

  aws:
    ## The Access Key ID for AWS. Required when using AWS S3
    ##
    accessKeyID:

    ## The Secret Access Key for AWS. Required when using AWS S3
    ##
    secretKey:
    # secretKeyFromSecret:
    #   name:
    #   key:

    ## The name of a bucket in AWS S3. Required when using AWS S3
    ##
    bucket:

    ## The region of a bucket in AWS S3. Required when using AWS S3
    ##
    region:

    ## The path in a AWS S3 bucket to store pre-aggregations. Optional
    ##
    subPath:

  minio:
    ## The Access Key ID for minIO. Required when using minIO
    ##
    accessKeyID:

    ## The Secret Access Key for minIO. Required when using minIO
    ##
    secretKey:
    # secretKeyFromSecret:
    #   name:
    #   key:

    ## The name of the bucket that you want to use minIO. Required when using minIO
    ##
    bucket:

    ## The region of a bucket in S3 that you want to use minIO. Optional when using minIO
    ##
    region:

    ## The minIO server endpoint. Required when using minIO
    ##
    endpoint:

router:
  ## The port for Cube Store to listen to HTTP connections on
  ##
  httpPort: 3030

  ## The port for the router node to listen for connections on
  ##
  metaPort: 9999

  ## The port for Cube Store to listen to connections on
  ##
  mysqlPort: 3306

  ## The port for Cube Store to expose status probes
  ##
  statusPort: 3031

  persistence:
    ## Enable persistence for local data using Persistent Volume Claims
    ##
    enabled: false

    ## Persistent Volume size
    ##
    size: 10Gi

    ## Persistent Volume access modes
    ##
    accessModes:
      - ReadWriteOnce

    ## Additional custom annotations for the PVC
    ##
    annotations: {}

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}

  ## Topology spread constraint for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
  ##
  spreadConstraints: []

  ## Define resources requests and limits for single Pods.
  ## ref: https://kubernetes.io/docs/user-guide/compute-resources/
  ##
  resources: {}

  ## Configure options for liveness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ##
  livenessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 3

  ## Configure options for liveness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ##
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 3

  ##  Custom livenessProbe that overrides the default one
  ##
  customLivenessProbe: {}

  ## Custom readinessProbe that overrides the default one
  ##
  customReadinessProbe: {}

  ## Tolerations for pod assignment
  ##
  tolerations: {}

  ## Node selector for pod assignment
  ##
  nodeSelector: {}

workers:
  ## Number of workers to deploy
  ##
  workersCount: 1

  ## The port for Cube Store workers to listen to connections on
  ##
  port: 9001

  persistence:
    ## Enable persistence for local data using Persistent Volume Claims
    ##
    enabled: false

    ## Persistent Volume size
    ##
    size: 10Gi

    ## Persistent Volume access modes
    ##
    accessModes:
      - ReadWriteOnce

    ## Additional custom annotations for the PVC
    ##
    annotations: {}

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}

  ## topology spread constraint for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
  ##
  spreadConstraints: []

  ## Define resources requests and limits for single Pods.
  ## ref: https://kubernetes.io/docs/user-guide/compute-resources/
  ##
  resources: {}

  ## Tolerations for pod assignment
  ##
  tolerations: {}

  ## Node selector for pod assignment
  ##
  nodeSelector: {}
