@import 'variables';

:global {
  .card {
    display: flex;
    flex-direction: column;
  }

  .card--home {
    flex-direction: row;

    .card__image {
      justify-content: flex-start;
    }

    .card__text {
      &--right {
        flex: 4;

        .card__title {
          text-align: left;
        }
      }
    }
  }

  .card__image {
    display: flex;
    flex: 1;
    justify-content: center;

    img {
      // @TODO I'm sorry future me
      box-shadow: none !important;
      border: none !important;
      max-height: 10rem;
    }
  }

  .card__title {
    font-family: $header-font;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.1875rem;
    letter-spacing: 0.02em;
    color: $brand-color;
    text-align: center;
  }

  .card__description {
    font-family: $body-font;
    line-height: 1.375rem;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #50556C;
    max-width: 100%;
  }
}

