@import 'variables';

h2, h3 {
  code {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: inherit;
  }
}

pre, code, tt {
	font-family: $code-font;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	white-space: pre-wrap;
	border-radius: 4px;
	border: none;
	letter-spacing: 0.02em;
	background: rgba(122, 119, 255, 0.05);
	color: $content-color;
}

pre {
    background-color: $code-background-color;
	box-sizing: border-box;
	margin: 24px 0;
	width: 100%;
	padding: 10px;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0;
        color: $white;
	}
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
}

:global(.mjx-chtml.MJXc-display) {
  background: rgba(122, 119, 255, 0.05);
  letter-spacing: 1px;
  margin: 24px 0;
  width: 100%;
  padding: 24px 0;
  border-radius: 3px;
  font-size: 1.5rem;
}
