@import 'variables';

pre, code, tt {
	font-family: $code-font;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	white-space: pre-wrap;
	border-radius: 4px;
	border: none;
	letter-spacing: 0.02em;
	background-color: $light;
	color: $content-color;
}

pre {
    background-color: $code-background-color;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	width: 100%;
	padding: 10px;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: 13px;
		line-height: 16px;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
}
