@import 'variables';
@import 'mixins';

.algolia-autocomplete {
  line-height: 40px;
  width: 100%;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

.wrap {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  font-weight: 500;
  font-size: 1.7rem;
  color: #B1B7C5;
  transition: opacity .2s, ease;

  &:hover {
    opacity: 0.7;
    color: #B1B7C5;
    text-decoration: none;
  }
}

.contentWrapper {
  display: flex;
  justify-content: center;

  > div {
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    display: block;
    justify-content: unset;
  }
}

.docContentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.docContent {
  @include body-text;
  width: inherit;
  max-width: $content-max-width;

  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 26px;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba(111, 118, 217, 0.3);
    transition: border 0.2s;

    &:hover {
      border-color: rgba(111, 118, 217, 0.8);
    }
  }

  ol li, ul li {
    margin-bottom: 8px;
    padding-left: 8px;
  }

  ol, ul {
    margin-bottom: 16px;
  }

  img:not(.mainTabImg) {
    border: 1px solid #ECECF0;
    border-radius: 4px;
    max-width: 100%;
    margin: 24px 0;
    box-shadow: none !important;
  }

  margin-bottom: 200px;
}

.searchBoxWrapper {
  display: flex;
  justify-content: center;
}

.searchBox {
  display: flex;
  margin-top: 25px;
  width: 100%;
  max-width: $content-max-width;

  @media screen and (max-width: 576px) {
    margin: 20px;
  }
}

.searchBoxMagnifier {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.574 10.03c0 3.98-3.293 7.231-7.387 7.231-4.094 0-7.387-3.252-7.387-7.23C2.8 6.05 6.093 2.8 10.187 2.8c4.095 0 7.387 3.252 7.387 7.23zM14.593 14.734L22 22' stroke='%23141446' stroke-width='1.6'/%3E%3C/svg%3E");
  height: 24px;
  width: 24px;
  margin: -1px 8px 0 0;

  & > svg {
    display: none !important;
  }

  &.searchBoxMagnifierActive {
    color: $brand-color;
  }

  @media screen and (max-width: 576px) {
    display: none !important;
  }
}

.searchBoxInput {
  width: 100%;
  border: none;
  outline: none;

  $search-placeholder-color: $dark-04;

  padding-top: 0;
  padding-bottom: 0;

  box-shadow: none;
  font-size: 1rem;

  @media screen and (max-width: 576px) {
    line-height: 33px;
    font-size: 31px;
    letter-spacing: 0.02em;
  }

  // Autoprefixer?
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $search-placeholder-color;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $search-placeholder-color;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $search-placeholder-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $search-placeholder-color;
  }
}

.search-col {
  position: relative;
}

.searchResults {
  position: absolute;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  visibility: collapse;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transition: all .3s ease;
  max-height: 0px;

  @media screen and (max-width: 576px) {
    margin-top: 0;
    position: fixed;
    left: 0;
  }

  &.searchResultsActive {
    opacity: 1;
    visibility: visible;
    overflow: auto;
    z-index: 20;
    max-height: calc(100vh - 86px);
    box-shadow: 0px 4px 20px rgba(177, 183, 197, 0.4);

    @media screen and (max-width: 576px) {
      max-height: calc(100% - 125px);
      box-shadow: none;
    }
  }

  .noResults {
    padding: 0 30px;
    line-height: 28px;
  }

  a {
    display: block;
    text-decoration: none;
    -webkit-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    transition: background-color .2s ease;

    .searchResult {
      padding: 11px 20px 11px 20px;
      color: #B1B7C5;
      font-size: 15px;
      text-decoration: none;
      background-color: none;
      -webkit-transition: background-color .2s ease;
      -ms-transition: background-color .2s ease;
      transition: background-color .2s ease;

      &:hover {
        background-color: rgb(244, 243, 252);
      }

      .searchItemTitle {
        color: #6F76D9;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        min-height: 20px;
      }

      .searchItemContent {
        line-height: 18px;
        font-size: 15px;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: #8D95A6;

        em {
          font-weight: 500;
          font-style: normal;
          color: black;
        }
      }
    }
  }

  .ais-hits__empty {
    padding: 0 30px;
  }

}

.searchDimmer {
  width: 100vw;
  height: 100vh;
  background-color: $dark-04;
  opacity: 0.7;
  display: none;
  top: 64px;
  left: 0;
  position: fixed;
  z-index: 10;

  &.searchDimmerActive {
    display: block;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.mainTabs {
  @include card-grid;

  .mainTab {
    @include card-grid-item;

    &.mainTabRight {
      @include card-grid-item-adjacent;
    }

    .mainTabContent {
      @include card-grid-item-content;

      .mainTabImg {
        @include card-grid-item-image;
      }

      .mainTabLink {
        @include card-grid-item-link;
      }

      .mainTabText {
        @include card-grid-item-text;
      }
    }
  }
}

span.group-header {
  transition: color .2s ease;
  cursor: pointer;

  &:hover {
    color: $brand-color;
  }
}

.group-list {
  height: 0;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  line-height: 0;
  transition: all .2s ease-out;

  &.active {
    height: 100%;
    visibility: visible;
    max-height: 1000px;
    opacity: 1;
    transition: all .2s ease-in;
  }
}

.logo-column {
  margin-top: 5px;
}

.language-javascript, .language-javascript-statsbot {
  margin-top: 24px;
}

.hidden {
  display: none;
}

.home {
  padding-bottom: 4px;
}

.menuWrapperHack {

  margin-top: -40px;
  padding-top: 56px !important;

  @media screen and (max-width: 767px) {
    margin-top: -118px;
    padding-top: 118px !important;
  }
}

.menuWrapper {
  height: 100%;
  width: inherit;
  background: $sidebar-bg;
  padding: 16px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  //padding-left: calc(9999px + 24px);
  //padding-right: 24px;
  //margin-left: -9999px;
  //min-width: 245px;
  max-height: calc(100% - 66px);
  //background: $light;

  @media screen and (max-width: 767px) {
    max-height: calc(100% - 48px); // footer is fixed on mobile screen
    min-width: 95%;
  }

  .antMenu {
    font-family: inherit;
    height: 100%;
    border-right: none;
    background: none;
    color: inherit;

    @media screen and (max-width: 767px) {
      padding-left: 20px;
    }

    :global {
      .ant-menu-item {
        display: inline-flex;
        align-items: center;
        color: inherit;
        padding: 8px 0;
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        padding-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        background: none !important;
        border-right: none;
        height: auto;
        min-height: 40px;

        a {
          color: inherit;
          white-space: break-spaces;
        }

        &:after {
          display: none;
        }

        a:hover {
          color: $brand-color;
        }

        &.ant-menu-item-selected {
          a {
            color: $brand-color;
          }

          font-weight: 500;
        }
      }

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: white;
      }

      .ant-menu-submenu {

        .ant-menu {
          background: none;
        }

        .ant-menu-submenu-title {
          color: inherit;
          padding-left: 0 !important;
          line-height: 40px;
          min-height: 40px;
          height: auto;
          font-size: 16px;
          margin-top: 0 !important;
          margin-bottom: 0 !important;

          .ant-menu-item {
            padding-left: 16px;
            font-size: 15px;
            line-height: 25px;
          }

          .ant-menu-submenu-arrow {
            &:before, &:after {
              background: $content-color;
            }
          }
        }

        .ant-menu-submenu-title-active, .ant-menu-submenu-title:hover {
          color: $brand-color;

          a {
            color: $brand-color;
          }

          .ant-menu-submenu-arrow {
            &:before, &:after {
              background: $brand-color;
            }
          }
        }

        .ant-menu-sub {
          color: $dark-01;

          .ant-menu-item {
            padding: 0.25rem 0;
            margin-left: 20px;
            font-size: 15px;
            line-height: 1.5rem;
            min-height: 1.25rem;
            height: auto;

            &:first-child {
              margin-top: 6px !important;
            }

            &:last-child {
              margin-bottom: 6px !important;
            }

            &:not(.ant-menu-item-selected) {
              a {
                color: $dark-01;
              }
            }

            &.ant-menu-item-active {
              color: $brand-color;

              a {
                color: $brand-color;
              }
            }
          }
        }

        .ant-menu-item-group-title {
          text-transform: uppercase;
          font-size: 0.8rem;
          line-height: 1.125rem;
          letter-spacing: 0.04rem;
          padding-left: 10px;
          font-weight: normal;
          color: $dark-04;
        }
      }
    }
  }
}

.noscroll {
  overflow: hidden;

  &.scrollDisabled {
    position: fixed;
    overflow-y: scroll;
  }
}

.scrollspy {
  padding: 1rem 1.5rem 1rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 66px);

  @media screen and (min-width: 1600px) {
    //max-width: 260px;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    //max-width: 230px;
  }

  .scrollspyLinkWrapper {
    position: relative;
    margin: 5px 0;

    .scrollspyLink {
      display: flex;
      font-family: inherit;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-size: 16px;
      padding-left: 10px;

      color: $content-color;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        -ms-transform: scaleY(0.0001);
        transform: scaleY(0.0001);
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &.scrollspyTop {
        font-size: 16px;
        font-weight: 500;
      }

      &.scrollspySubitem {
        padding-left: 25px;
        font-size: 15px;
        line-height: 23px;
        color: $dark-04;
      }

      &.scrollspyCurrent {
        color: $brand-color;
        font-weight: 500;

        &::before {
          transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
          opacity: 1;
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          content: '';
        }
      }
    }
  }
}

.logoWrapper {
  height: inherit;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.logoDocs {
  margin-left: 0.25em;
  font-size: 24px;
  font-weight: normal;
}

.mobileFooter {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobileFooter {
    position: fixed;
    display: block;
    z-index: 1;
    width: 100%;
    bottom: 0;
    height: 48px;
    background-color: white;

    .mobileFooterButton {
      touch-action: none;
      height: 48px;
      border-top: 1px solid #ECECF0;

      &.mobileFooterSearch {
        border-left: 1px solid #ECECF0;
      }

      .mobileFooterImage {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 11px;
      }
    }
  }
}

.header {
  background: #fff;
  padding: 0 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  filter: drop-shadow(0px 0px 15px rgba(67, 67, 107, 0.1));
  height: $header-max-height;

  > :global.ant-row {
    height: inherit;
  }

  @media screen and (max-width: 767px) {

    &.fixed {
      position: fixed;
    }
  }

  .headerButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    a:first-child {
      margin-left: 0;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .headerButton {
    display: inline-flex;
    grid-auto-flow: column;
    place-content: center stretch;
    place-items: center stretch;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #D5D5E2;
    background-color: transparent;
    min-height: 40px;
    transition: border .1s linear;

    &:hover, &:focus {
      background-color: transparent;
      border: 1px solid $brand-color;
      color: $brand-color;
    }

    i {
      height: 22px;
      color: $content-color;
      transition: color .1s linear;
    }

    &:hover i, &:focus i {
      color: $brand-color;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $content-color;
      line-height: 36px;
      transition: color .1s linear;
    }

    &:hover span, &:focus span {
      color: $brand-color;
    }
  }

  .headerButtonCircle {
    margin: 14px 5px 0 5px;
  }
}

.contentColumn {
  margin-top: 64px;

  @media screen and (max-width: 767px) {
    overflow-x: hidden;

    &.fixed {
      margin-top: 66px;
    }
  }
}

.hTag {
  a {
    color: inherit;
    border-bottom: none;
    transition: none;

    &:hover {
      .hTagIcon {
        & svg {
          display: inline;
          opacity: 0.6;
        }
      }
    }
  }

  .hTagIcon {
    font-size: inherit;
    margin-top: 6px;
    position: absolute;
    left: -0.75rem;
    padding-right: 10px;

    @media screen and (min-width: 2000px) {
      left: 0.75rem;
    }

    &:hover {
      display: inline;
    }

    & svg {
      display: none;
    }
  }
}

section[type=h2] h2 {
  margin-top: 0;
}

.lastSection {
  margin-bottom: 64px;

  &.clearSection {
    margin-bottom: 0;
  }
}

.postClearSection {
  h2, h3 {
    border-top: none;
    margin-top: 0;
  }
}

.clearSection + .postClearSection {
  h2 {
    margin-top: 0;
    border: none;
    padding-top: 11px;
  }
}

// md inner content styles
:global {
  .accordion {
    max-height: 0;
    overflow: hidden;

    &.active {
      max-height: 100%;
    }
  }

  p + .block {
    margin-top: -4px;
  }

  .signature {
    background: #F3F3FB;
    border-radius: 4px;
    padding: 15px;
  }

  .block {
    padding: 20px 24px;
    border-radius: 8px;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 20px 0 20px 0;
    color: $content-color;

    p {
      padding-bottom: 0;
    }

    a {
      border-bottom: 1px solid rgba(67, 125, 171, 0.3);
      transition: border 0.2s;

      &:hover {
        border-color: rgba(67, 125, 171, 0.8);
      }
    }

    p {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.help-block {
      background: rgba(94, 188, 255, 0.1);

      b, strong, a {
        color: #437DAB;
      }
    }

    &.note-block {
      background: rgba(255, 124, 120, 0.1);

      b, strong, a {
        color: #FF9F9D;
      }

      a {
        border-color: rgba(255, 159, 157, 0.3);

        &:hover {
          border-color: rgba(255, 159, 157, 0.8);
        }
      }
    }

    &.attention-block {
      background: rgba(255, 192, 120, 0.12);

      b, strong, a {
        color: #F1A55D;
      }

      a {
        border-color: rgba(241, 165, 93, 0.3);

        &:hover {
          border-color: rgba(241, 165, 93, 0.8);
        }
      }
    }
  }
}

.editPage {
  max-height: 0;
  padding: 0;

  a {
    font-size: 14px;
    color: $dark-04;
    text-decoration: none;
    border-bottom: none;
  }

  a:hover {
    color: $brand-color;
  }
}

.frameworkSwitcher.frameworkSwitcher {
  padding-top: 40px;
  padding-left: 32px;

  :global {
    .ant-radio-button-wrapper {
      border-radius: none;
      color: $pink-hover;
      border: 1px solid $pink-04;
      outline: none;
      box-shadow: -1px 0 0 transparent;
      transition: color .3s, background .3s, border .3s, box-shadow .3s;
      min-width: 80px;
      text-align: center;

      &:focus-within {
        outline: none !important;
      }
    }

    .ant-radio-button-wrapper:first-child:last-child {
      border-radius: 0;
    }

    .ant-radio-button-wrapper-checked {
      color: white;
      background: $pink;
      border: 1px solid $pink;
      z-index: initial;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      color: white;
      border-color: $pink;
    }

    .ant-radio-button-wrapper-checked:not(:first-child) {
      box-shadow: -1px 0 0 $pink;
      z-index: initial;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: white !important;
      transition: background-color 0.3s;
    }

    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(:first-child)::before {
      background-color: $pink !important;
    }

    .ant-radio-button-wrapper::before {
      background-color: white !important;
    }
  }
}


:global {
  .gettingStartedGrid {
    @include card-grid;

    .gettingStartedItem {
      @include card-grid-item;

      a {
        border-bottom: none;
      }

      &.originalWidth {
        width: calc(100% / 3);
      }

      &:nth-child(even) {
        @include card-grid-item-adjacent;
      }

      &.gettingStartedItemSlim {
        .gettingStartedItemContent {
          min-height: unset;
          text-align: center;;

          .gettingStartedItemImage {
            margin-right: 1.25rem;

            > img {
              margin: unset;
            }
          }

          .gettingStartedItemImage,
          .gettingStartedItemLink {
            display: inline-block;
          }
        }
      }

      .gettingStartedItemContent {
        @include card-grid-item-content;
        margin: 1.5rem;

        .gettingStartedItemImage {
          @include card-grid-item-image;
          position: unset;
          display: flex;
          justify-content: center;

          > img {
            box-shadow: none !important;
            border: none;
            max-height: 160px;
          }
        }

        .gettingStartedItemLink {
          @include card-grid-item-link;
          margin-top: 0.5rem;
          text-align: center;
        }

        .gettingStartedItemText {
          @include card-grid-item-text;
        }
      }
    }
  }

  .connectingToDatabaseGrid {
    @include card-grid;

    > .ant-row {
      display: flex;
      flex-flow: row wrap;
    }

    .connectingToDatabaseItem {
      @include card-grid-item-without-width;

      a {
        border-bottom: none;
      }

      .connectingToDatabaseItemContent {
        @include card-grid-item-content;
        margin: 1.5rem;

        .connectingToDatabaseItemImage {
          @include card-grid-item-image;
          position: unset;
          display: flex;
          justify-content: center;

          > img {
            box-shadow: none !important;
            border: none;
            max-height: 160px;
          }
        }

        .connectingToDatabaseItemLink {
          @include card-grid-item-link;
          margin-top: 0.5rem;
          text-align: center;
        }

        .connectingToDatabaseItemText {
          @include card-grid-item-text;
        }
      }
    }
  }
}
