@import 'variables';

@mixin flex-direction($values) {
	-webkit-flex-direction: $values;
	flex-direction: $values;
}

@mixin flex-flow($values) {
	-webkit-flex-flow: $values;
	flex-flow: $values;
}

@mixin align-items($values) {
	-webkit-align-items: $values;
	align-items: $values;
}

@mixin justify-content($values) {
	-webkit-justify-content: $values;
	justify-content: $values;
}

@mixin flex($values) {
	-webkit-flex: $values;
	flex: $values;
}

@mixin display-flex() {
	display: -webkit-flex;
	display: flex;
}

@mixin display-inline-flex() {
	display: -webkit-inline-flex;
	display: inline-flex;
}

@mixin header-text() {
  font-family: $header-font;
}

@mixin body-text() {
  font-family: $body-font;
  font-size: 17px;
  line-height: 30px;
}

@mixin card-grid() {
  margin-top: 20px;
}

@mixin card-grid-item() {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #ECECF0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  top: 0;
  transition: all .2s ease;
  box-shadow: none;
  width: calc(50% - 20px);

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  &:hover {
    top: -3px;
    box-shadow: 0px 2px 10px rgba(177, 183, 197, 0.2);
  }
}

@mixin card-grid-item-without-width() {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #ECECF0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  top: 0;
  transition: all .2s ease;
  box-shadow: none;

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  &:hover {
    top: -3px;
    box-shadow: 0px 2px 10px rgba(177, 183, 197, 0.2);
  }
}

@mixin card-grid-item-adjacent() {
  margin-left: 20px;

  @media screen and (max-width: 992px) {
    margin-left: 0;
  }
}

@mixin card-grid-item-content() {
  margin: 10px 0 10px 0;
  min-height: 98px;
}

@mixin card-grid-item-image() {
  position: relative;
  top: 25px;
  left: 15px;
}

@mixin card-grid-item-link() {
  font-family: $header-font;
  font-weight: bold;
  line-height: 32px;
  font-size: 19px;
  letter-spacing: 0.02em;
  color: $brand-color;
}

@mixin card-grid-item-text() {
  font-family: $body-font;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #50556C;
  max-width: 100%;
}
