@import './variables';

@font-face {
  font-family: "Cera Pro";
  src: url('https://static.cube.dev/fonts/CeraPro-Regular.eot');
  src: url('https://static.cube.dev/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://static.cube.dev/fonts/CeraPro-Regular.woff2') format('woff2'),
    url('https://static.cube.dev/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url('https://static.cube.dev/fonts/CeraPro-Medium.eot');
  src: url('https://static.cube.dev/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://static.cube.dev/fonts/CeraPro-Medium.woff2') format('woff2'),
    url('https://static.cube.dev/fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url('https://static.cube.dev/fonts/CeraPro-Bold.eot');
  src: url('https://static.cube.dev/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://static.cube.dev/fonts/CeraPro-Bold.woff2') format('woff2'),
    url('https://static.cube.dev/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Bold.eot');
  src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter-Bold.woff2') format('woff2'),
  url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
  url('../fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "mixins";
@import "normalize";
@import "typography";
@import "code";
@import "tables";
@import "stb-js-syntax";
@import "layout";
@import 'blockquote';
@import "grids";
@import "cards";
