.math {
  background: rgba(122, 119, 255, 0.05);
  letter-spacing: 1px;
  margin: 24px 0;
  width: 100%;
  padding: 24px 0;
  border-radius: 3px;
  @media (max-width: 1023px) {
    .katex-display>.katex {
      white-space: normal;
    }
  }
}