/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=clike+javascript+sql */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

@import 'variables';

code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  /*text-shadow: 0 1px white;*/
  font-family: $code-font;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  border-radius: 4px;
  border: none;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  /*background: #b3d4fc;*/
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  /*background: #b3d4fc;*/
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #43436B;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $dark-04;
}

.token.punctuation {
  color: $dark-04;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $pink-02;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $purple-02;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: white;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: white;
}

.token.atrule,
.token.keyword {
  font-weight: 500;
}

.token.function,
.token.class-name {
  color: $pink-02;
}

.token.regex,
.token.important,
.token.variable {
  color: $pink-02;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

