$purple: #7A77FF;
$purple-02: #9592FF;
$purple-04: #CAC9FF;
$dark-01: #141446;
$dark-04: #A1A1B5;
$pink: #FF6492;
$pink-02: #FF83A8;
$pink-04: #FFC1D3;
$pink-hover: #FA326E;
$light: #F3F3FB;
$lighter: #F3F3FB4D;


$body-background-color: #2B2E31;
$code-background-color: #43436B;

$header-max-height: 4rem;

$content-max-width: 920px;
$content-color: #43436B;
$content-background-color: #fff;

$sidebar-points-color: #8D95A6;
$sidebar-bg: #F8F8F9;

$brand-color: $purple;

$space: 16px;

$header-font: "Cera Pro", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Ubuntu, "DejaVu Sans", Arial, sans-serif;
$body-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Avenir Next", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$code-font: "Source Code Pro", Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
