.root {
  background-color: var(--color-bg-sidebar);
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem 0.5rem;
}

.messages {
  color: var(--color-red);
}

.reactions {
  color: var(--color-pink);
}

.chart {
  margin-left: -25px;
}