$danger-text: #EF404A;
$success-text: #59A36C;
$cera-pro-font: "Cera Pro", "Avenir Next", Avenir, "Helvetica Neue", Helvetica,
      Ubuntu, "DejaVu Sans", Arial, sans-serif;

.feedbackBlock {
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  border: 1px solid rgba(20, 20, 70, 0.12);
  border-radius: 8px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__question {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-family: $cera-pro-font;
  }

  &__buttons {
    display: flex;
  }
  &__like {
    margin-right: 8px;
  }
}

.feedbackForm  {
  margin-top: 40px;

  &__buttons {
    margin-top: 16px;
  }
  &__sendButton {
    margin-right: 8px;
  }
  textarea {
    font-family: $cera-pro-font;
    outline: transparent;
    padding: 10px 12px;
    background: #F6F6F8;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: rgba(20, 20, 70, 0.85);
    min-height: 110px;
    resize: none;
    &::placeholder {
      color: rgba(20, 20, 70, 0.3);
    }
  }
}

.thanksBlock {
  font-family: $cera-pro-font;
  padding: 40px 64px;
  background: rgba(65, 181, 111, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 104px;
  width: 100%;
  color: rgba(20, 20, 70, 0.85);
  font-size: 16px;
  line-height: 24px;
}
