[package]
name = "cubesql"
version = "0.28.0"
authors = ["Cube Dev, Inc."]
edition = "2018"
license = "Apache-2.0"
description = "SQL API for Cube as proxy over MySQL protocol"
documentation = "https://cube.dev/docs"
homepage = "https://cube.dev"

[dependencies]
datafusion = { git = 'https://github.com/cube-js/arrow-datafusion.git', rev = "41c38f8857838afc907c3123dd5124856ce394a0", default-features = false, features = ["unicode_expressions"] }
anyhow = "1.0"
thiserror = "1.0"
cubeclient = { path = "../cubeclient" }
pg-srv = { path = "../pg-srv" }
sqlparser = { git = 'https://github.com/cube-js/sqlparser-rs.git', rev = "ca8131c36325e86fd733f337673e6cae5e946711" }
lazy_static = "1.4.0"
base64 = "0.13.0"
tokio = { version = "1.0", features = ["full", "rt", "tracing"] }
serde = { version = "^1.0", features = ["derive"] }
itertools = "0.10.2"
serde_derive = "^1.0"
serde_json = "^1.0"
bytes = "0.5.4"
futures = "0.3.21"
rand = "0.8.3"
smallvec = "1.7.0"
byteorder = "1.3.4"
log = "=0.4.11"
rust_decimal = { version = "1.25", features = ["c-repr", "db-postgres"]}
postgres-types = "0.2.3"
# Locked, because starting from 1.15 this crate switch from chrono to time
# which panic with Could not determine the UTC offset on this system.
# It's a problem with determing local_offset_at for local-offset feature
# https://github.com/time-rs/time/issues/325
simple_logger = "=1.13.0"
async-trait = "0.1.36"
regex = "1.5"
uuid = { version = "0.8", features = ["serde", "v4"] }
msql-srv = { git = 'https://github.com/cube-js/msql-srv', rev = '76ea0132564959c41ea13f25511fbd84acd06464' }
bincode = "1.3.1"
chrono = "0.4.16"
chrono-tz = "0.6"
mockall = "0.8.1"
reqwest = { version = "0.11.0", features = ["json", "rustls-tls"], default-features = false }
nanoid = "0.3.0"
tokio-util = { version = "0.6.2", features=["compat"] }
mysql_common = "0.26.0"
comfy-table = "4.1.1"
bitflags = "1.3.2"
egg = "0.7.1"
paste = "1.0.6"
csv = "1.1.6"
tracing = { version = "0.1.35", features = ["async-await"] }
console-subscriber = "0.1.6"

[dev-dependencies]
pretty_assertions = "1.0.0"
insta = "1.12"
mysql_async = "0.29"
portpicker = "0.1.1"
tokio-postgres = { version = "0.7.6", features = ["with-chrono-0_4", "runtime"] }
rust_decimal = { version = "1.23", features = ["db-tokio-postgres"] }
pg_interval = "0.4.1"

[[test]]
name = "e2e"
path = "e2e/main.rs"
harness = false
