.kpi-wrap {
}
.kpi-card {
  width: 100%;
  padding: 16px;
  margin-bottom: 1rem;
}

.grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: none;
  &__header {
    border-bottom: 1px solid #D5D5E2;
    margin-bottom: 1.5rem;
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
