.chart-container {
  position: relative;
  height: calc(100% - 52px);
  height: 500px;
}

.action-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
} 