.root {
  margin: 48px 0;
}

.banner {
  background-color: var(--color-bg-card);
  border-radius: var(--border-radius);
  padding: 24px;
}

.buttons {
  display: grid;
  grid-gap: 12px;
  grid-template-rows: auto auto auto;
  list-style: none;
  padding: 0;
}