@import '~antd/dist/antd.less';
@import 'variables.less';

// Top menu customization
.ant-layout-header {
  .ant-menu {
    line-height: 64px;
    background: #EEEEF5;
  }
  .ant-menu-horizontal > .ant-menu-item {
    top: -1px;
  }
}

.inline-code {
  margin: 0 1px;
  padding: .2em .4em;
  font-size: .9em;
  background: #f2f4f5;
  border: 1px solid #eee;
  border-radius: 3px;
}
