body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3fc;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#playground-root {
  height: 100%;
}

.schema-sidebar,
.schema-sidebar .ant-tabs,
.schema-sidebar .ant-tabs-content {
  height: 100%;
}

.schema-sidebar {
  background: #fff;
  border-right: 1px solid #eee;
  padding: 0;
}

.schema-sidebar .ant-tabs-tabpane {
  /* TODO: replace with flexbox */
  height: 85%;
  overflow: auto;
}

.ant-popover-disabled-compatible-wrapper {
  pointer-events: none;
}
