@import '~antd/dist/antd.less';
@import 'variables.less';

// Top menu customization
.ant-layout-header {
  .ant-menu {
    line-height: 64px;
    background: #EEEEF5;
  }
  .ant-menu-horizontal > .ant-menu-item {
    top: -1px;
  }
}
