.CodeBlock {
  //position: relative;
  //background-color: var(--dark_bg);
  //border-radius: 4px;
  //overflow: hidden;
  //margin: 24px 0;
}

.CodeBlock :global(pre) {
  //background-color: var(--dark_bg);
}

.CodeBlock :global(pre > code > .line) {
  padding: 0;
}

.CodeBlock__copyFloating {
  position: absolute;
  top: 48px;
  right: 8px;
  border-radius: 4px;
  opacity: 0;
}

.CodeBlock:hover .CodeBlock__copyFloating {
  opacity: 1;
}

.CodeBlock__Tabs {
  //background-color: var(--dark_bg);
  box-shadow: inset 0px -1px 0px var(--dark_05_a12);

  > div:first-child {
    border-top-left-radius: 0.75rem;
    //border-top-right-radius: 0.75rem;
  }
}

.CodeBlocks__tabs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px var(--gray_02);
}

.CodeBlocks__tab {
  padding: 0 1rem;
  /*height: 40px;*/
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--white);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.CodeBlocks__tab::before {
  background-image: none !important;
}


.SelectedTab {
  /*--pink: hsl(342, 100%, 70%, 1);*/
  /*--pink_bg_a10: hsl(342, 95%, 70%, 0.1);*/
  color: var(--purple_bright);
  cursor: default;
  background-color: var(--purple_bg_a08);
  box-shadow: inset 0px -2.6px 0px var(--purple_bright);

}


.CodeBlocks__tab:hover {
  --pink_bright:hsl(342, 95%, 59%, 1);
  color: var(--pink_bright);
  box-shadow: inset 0px -2.6px 0px hsl(342, 100%, 82%);
}

