.wrapper {
  position: relative;
  z-index: 1000;
}

.root {
  background-color: var(--color-bg-sidebar);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 var(--border-width) var(--color-border), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  font-size: 15px;
  margin: 0 20%;
  position: absolute;
  width: 60%;
}

.input {
  border-bottom: solid var(--border-width) var(--color-border);
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-gap: 6px;
  padding: 10px 12px;
}

.greeting {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-weight: 500;
  height: 26px;
  padding: 3px;
  white-space: nowrap;
}

.control input {
  border: none;
  box-sizing: border-box;
  height: 26px;
  outline: none;
  width: 100%;
}

.close:before {
  color: var(--color-fg-secondary);
  content: '×';
  font-size: 28px;
}

.close {
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  padding-right: 8px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 12px 0;
  text-align: start;
}

.item {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2.25em auto;
  grid-gap: 14px;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  padding: 4px 16px 4px;
}

.item:hover {
  background-color: var(--color-bg-filter);
  color: #fff;
  cursor: pointer;
}

.sign {
  color: var(--color-fg-secondary);
  text-align: right;
}

.item:hover .sign {
  color: #fff;
}

.main {
  font-weight: 500;
}

.clear {
  color: var(--color-fg-secondary);
  font-weight: 500;
}

.clear:hover {
  color: #fff;
}
