.root {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}

.content {
  padding: 3.5rem 2rem 2rem;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.filter {
  cursor: pointer;
}

.filtered {
  background-color: var(--color-bg-link);
  border-radius: var(--border-radius);
  color: var(--color-fg-link);
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.sidebar {
  background-color: var(--color-bg-sidebar);
  padding: 0 48px;
  min-width: 350px;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-sidebar);
  border: 1px solid var(--color-border);
  padding: 2rem;
}

.column {
  width: 50%;
}