<div class="flex-box">
  <button
    mat-button
    mat-stroked-button
    *ngFor="let member of members"
    color="primary"
    (click)="_onMemberClick(member.name)"
  >
    {{ member.title }}
  </button>

  <mat-form-field appearance="fill">
    <span matPrefix><mat-icon>add</mat-icon></span>
    <mat-label>{{ title }}</mat-label>
    <mat-select
      #select
      (selectionChange)="_onSelect($event); select.value = ''"
    >
      <mat-option *ngIf="!members.length">No members found</mat-option>
      <mat-option *ngFor="let member of allMembers" [value]="member.name">
        {{ member.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
