.root {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
  list-style-type: none;
  margin: 1em auto;
  padding: 0;
  max-width: 1100px;
}

.item {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.link {
  text-decoration: none;
}

.index {
  font-size: 0.8em;
}