@import "../../../static/styles/variables.scss";

.feedbackBlock {
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  border: 1px solid rgba(20, 20, 70, 0.12);
  border-radius: 8px;
  margin: 48px 0;

  @media (max-width: 950px) {
    padding: 32px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__question {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
    font-family: $header-font;
    @media (max-width: 950px) {
      margin-bottom: 16px;
    }
  }

  &__buttons {
    display: flex;
  }
  &__like {
    margin-right: 8px;
  }
}

.feedbackForm {
  margin-top: 40px;
  @media (max-width: 950px) {
    margin-top: 32px;
  }

  &__buttons {
    margin-top: 16px;
    @media (max-width: 950px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__sendButton {
    margin-right: 8px;
  }
  textarea {
    outline: transparent;
    padding: 10px 12px;
    background: #f6f6f8;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: rgba(20, 20, 70, 0.85);
    min-height: 110px;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    &::placeholder {
      color: rgba(20, 20, 70, 0.3);
    }
  }
}

.thanksBlock {
  font-family: $header-font;
  padding: 40px 64px;
  background: rgba(65, 181, 111, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 104px;
  width: 100%;
  color: rgba(20, 20, 70, 0.85);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  @media (max-width: 950px) {
    padding: 20px 32px;
  }
}
