.root {
    background: var(--color-white);
    padding: 20px 25px 25px;
    margin: 0 -25px;
    height: 100%;
}

.fact {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.metric {}

.auxiliary {
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
    margin-top: 15px;
    margin-bottom: -5px;
    width: 90%;
}

@media only screen and (max-width: 1100px) {
    .fact {
        white-space: normal;
    }
}