html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label {
  min-width: 80px !important;
}

.mat-form-field-infix {
  width: 100px !important;
}

.no-padding-controls .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.no-padding-controls .mat-form-field-underline {
  bottom: 0 !important;
}

.mat-tab-body-wrapper {
  padding: 24px 16px !important;
}

.auto-width .mat-form-field-infix,
.auto-width .mat-form-field {
  width: auto !important;
}

.auto-width .mat-select-value {
  max-width: 100% !important;
  width: auto !important;
}

.filters-container .selected-member-container .mat-form-field {
  width: 100%;
}

.flex-box {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.selected-member-container {
  display: flex;
  align-items: center;
}
