/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.flex-box {
  display: flex;
  gap: 8px;
}
