/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label {
  min-width: 80px !important;
}

.mat-form-field-infix {
  width: 100px !important;
}

.mat-form-field {
  margin-bottom: -1.25em !important;
}

.mat-tab-body-wrapper {
  padding: 24px 16px !important;
}

.auto-width .mat-select-value {
  max-width: 100%  !important;
  width: auto  !important;
}

.flex-box {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
