.dashboard-card {
  box-shadow: none;
  height: 131px;
  box-sizing: border-box;
}
.kpi-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #A1A1B5;
  margin: 0 -8px;
}
.kpi-result {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #43436B;
  margin: 0 8px;
}
.kpi-progress {
  margin-top: 1rem;
  height: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.kpi-difference {
  margin-top: 1rem;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  text-align: left;
  color: #A1A1B5;
  &--red {
    color: #E56860;
  }
  &--green {
    color: #51D084;
  }
  &__span {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #A1A1B5;
  }
}
