.root {
  color: var(--color-fg-secondary);
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
}

.description {
  margin-bottom: 24px;
}

.drop {
  background: #fff;
  border: dashed var(--border-width) var(--color-border);
  margin: 0 auto;
  max-width: 600px;
  outline: none;
  padding: 120px 16px;
 }

.progress {
  background: inherit;
}

.message {
  color: #1d1c1d !important;
  border: solid var(--border-width) transparent;
  display: inline-block;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2rem;
  padding: 6px 14px;
  white-space: nowrap;
}