.screenshot {
  position: relative;
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 2px grey);
  margin: 1.5rem 0;
  overflow: hidden;
}

.screenshot > img {
  margin: 0 !important;
}

.highlight {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
}
