name: Documentation
on:
  push:
    paths:
      - '.github/workflows/docs.yml'
      - 'docs-gen/**'
      - 'docs/**'
    branches:
      - master
jobs:
  docs:
    name: Docs build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DOCS_DEPLOY_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_DEPLOY_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Generate API documentation
        run: sh ./docs-gen.sh
      - name: Build Gatsby site
        run: sh ./deploy-production.sh
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
