name: Documentation Build
on:
  pull_request:
    paths:
      - '.github/workflows/docs.yml'
      - 'docs-gen/**'
      - 'docs/**'
jobs:
  docs:
    name: Build
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./docs
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            docs/node_modules
          key: ${{ runner.os }}-workspace-docs-${{ matrix.node-version }}
      - name: Generate API documentation
        run: ./docs-gen.sh
      - name: Build website
        run: ./build.sh
