name: Master
on:
  push:
    branches:
      - master
jobs:
  docker-image-dev:
    name: Release :dev image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./packages/cubejs-docker/dev.Dockerfile
          platforms: linux/amd64
          push: true
          tags: cubejs/cube:dev
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: cubejs/cube
          readme-filepath: ./packages/cubejs-docker/README.md

  docs:
    name: Docs build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs-build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - uses: chrislennon/action-aws-cli@v1.1
      - name: Docs generation
        run: sh ./docs-gen.sh
      - name: Build
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_DEPLOY_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_DEPLOY_AWS_SECRET_ACCESS_KEY }}
          ALGOLIA_API_KEY: 665bbb3a2c36759517a8b75ddba8601f
          ALGOLIA_INDEX_NAME: cubejs
          PATH_PREFIX: /docs
        run: sh ./deploy-production.sh
