name: Cross Images

on:
  push:
    paths:
      - '.github/workflows/push-cross-images.yml'
      - 'rust/cubestore/cross/**'
    branches:
      - 'master'
  pull_request:
    paths:
      - '.github/workflows/push-cross-images.yml'
      - 'rust/cubestore/cross/**'

jobs:
  docker-dev:
    name: Build cross image for ${{ matrix.target }} target
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to DockerHub
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: v0.9.1
          driver-opts: network=host
      - name: Load .cross file
        uses: xom9ikk/dotenv@v2
        with:
          path: rust/cubestore/cross/
      - name: Push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./rust/cubestore/cross/${{ matrix.target }}.Dockerfile
          platforms: linux/amd64
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: cubejs/rust-cross:${{ matrix.target }},cubejs/rust-cross:${{ matrix.target }}-${{ env.CROSS_VERSION }}
